<!DOCTYPE HTML>

<html>

<head>
<title>MainPage</title>
<link rel = "stylesheet" type = "text/css" href = "./css/style.css" />
</head>

<body>
{{>header}}


<!--This is where the body starts-->
<p id="hello">Hello my name is Diego Reynoso</p>
<!--<p>This is where the picture will go this is just a test to see how far it goes before it has to change to the next line</p>-->
<div class= "row">
<div class="column left">
<p><img src="./img/my_pic.jpg" alt="my picture" style="width:200px"></p>
</div>

<div class="column middle">
<p>In this website you can see many things I have done throughout my programming career. You can see all of my projects I have worked on.
You can also download my resume if you want. Thank you for looking at my website and if you have any questions look at the footer of this webpage for contact infromation. </p>

</div>

<div class="column right">

</div>

</div>



{{>footer}}
</body>


</html>