<!DOCTYPE HTML>

<html>

<head>
<title>Java Script</title>
<link rel = "stylesheet" type = "text/css" href = "./css/style.css" />
</head>

<body>

{{>header}}

<!--This is where the body starts-->
<p id="hello">Hello These are the projects I have done in JavaScript</p>
<!--<p>This is where the picture will go this is just a test to see how far it goes before it has to change to the next line</p>-->
<div class= "row">
<div class="column left"
<p><img src="./img/my_pic.jpg" alt="my picture" style="width:200px"></p>
</div>

<div class="column middle">

{{>javascriptgame}}

</div>

<div class="column right">

</div>

</div>

{{>footer}}

</body>


</html>