<!DOCTYPE HTML>

<html>

<head>
<title>Resume</title>
<link rel = "stylesheet" type = "text/css" href = "./css/style.css" />
</head>

<body>

{{>header}}

<!--This is where the body starts-->
<p id="hello">Hello These is where you can download my Resume</p>
<!--<p>This is where the picture will go this is just a test to see how far it goes before it has to change to the next line</p>-->
<div class= "row">
<div class="column left"
<p><img src="./img/my_pic.jpg" alt="my picture" style="width:200px"></p>
</div>

<div class="column middle">

<div class = "solid">
<p> Woow what a greate Resume </p>
<p><a href="./img/Diego_Reynoso_Resume.doc" download="DiegoReynosoResume">
  Click to donwload it.
</a></p>
</div>
<div>
</div>


</div>

<div class="column right">

</div>

</div>
{{>footer}}
</body>


</html>