<!DOCTYPE HTML>

<html>

<head>
<title>Java</title>
<link rel = "stylesheet" type = "text/css" href = "./css/style.css" />
</head>

<body>

{{>header}}

<!--This is where the body starts-->
<p id="hello">Hello These are the Websites I have created</p>
<!--<p>This is where the picture will go this is just a test to see how far it goes before it has to change to the next line</p>-->
<div class= "row">
<div class="column left"
<p><img src="./img/my_pic.jpg" alt="my picture" style="width:200px"></p>
</div>

<div class="column middle">

<div class = "solid">
<p> <h3>Weather application</h3> 
This is a website I used NodeJS, Express, HandleBars, SCSS, APIS.</p>
<p>This is a website that I did following a Udemy course but then decided to take it further and make it look nice.</p>
<p><a href="http://reynoso-weather-application.herokuapp.com/">Visit Weather website</a></p>
</div>

<div class = "solid">
<p> <h3>Okoli</h3> 
This is a website I used NodeJS, Express, HandleBars, SCSS.</p>
<p>This is a website I did to help my Aunt with her Mexican restraunt she runs. </p>
<p><a href="">Visit Okoli website</a></p>
</div>

<div class = "solid">
<p> <h3>The Super Mushroom</h3> 
This is a website I used NodeJS, Express, HandleBars, SCSS.</p>
<p>This is a website that I always wanted to do for Super Mario it is one of my favorite video game series ever.</p>
<p><a href="">Visit The Super Mushroom website</a></p>
</div>


</div>

<div class="column right">

</div>

</div>
{{>footer}}
</body>


</html>