<header>
<h1>{{title}}</h1>

<ul>
  <li><a  href="/">Main Page</a></li>
  <li><a href="/about">About Me</a></li>
    <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Projects</a>
    <div class="dropdown-content">
      <a href="/java">Java</a>
      <a href="/website">Websites</a>
      <a href="/python">Python</a>
      <a href="/javas">JavaScript</a>
    </div>
  	</li>
  <li><a href="/resume">Resume</a></li>
</ul>
</header>