<div class = "solid">
<p> This is a game I created using JavaScript enjoy! </p>
<p>The way you play is my pressing one of the 5 buttons which correspond to one of the 5 letters. Once you press the button the letter will change to the other letter from G to B or B to G. Not only does that one change but also the letters that are next to them.</p>
<p>The way you win is by changing all of the letter to have B. you can also lose by changeing all the letters to G.</p>
</div>
<p id="demo">G,B,G,B,G</p>

<button onclick="myFun1()">1</button>
<button onclick="myFun2()">2</button>
<button onclick="myFun3()">3</button>
<button onclick="myFun4()">4</button>
<button onclick="myFun5()">5</button>

<script>
 var arr = ["G","B","G","B","G"];

function myFun1() {
  if(arr[0]=="G"&&arr[1]=="B"){
   arr[0]="B";
   arr[1]="G";
  }
  else if(arr[0]=="B"&&arr[1]=="G"){
   arr[0]="G";
   arr[1]="B";
  }
  else if(arr[0]=="G"&&arr[1]=="G"){
   arr[0]="B";
   arr[1]="B";
  }
  else if(arr[0]=="B"&&arr[1]=="B"){
   arr[0]="G";
   arr[1]="G";
  }
    document.getElementById("demo").innerHTML = arr.toString();

    if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="B"&&arr[3]=="B"&&arr[4]=="B"){
     document.getElementById("win").innerHTML ="You won";
    }
    else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="G"&&arr[3]=="G"&&arr[4]=="G"){
    document.getElementById("lost").innerHTML ="You lost";
    }
}
function myFun2() {
    if(arr[0]=="G"&&arr[1]=="B"&&arr[2]=="G"){
      arr[0]="B";
      arr[1]="G";
      arr[2]="B";
  }
  else if(arr[0]=="B"&&arr[1]=="G"&&arr[2]=="B"){
      arr[0]="G";
      arr[1]="B";
      arr[2]="G";
}
  else if(arr[0]=="G"&&arr[1]=="B"&&arr[2]=="B"){
      arr[0]="B";
      arr[1]="G";
      arr[2]="G";
}
  else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="G"){
      arr[0]="B";
      arr[1]="B";
      arr[2]="B";
}
  else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="B"){
      arr[0]="B";
      arr[1]="B";
      arr[2]="G";
}
  else if(arr[0]=="B"&&arr[1]=="G"&&arr[2]=="G"){
      arr[0]="G";
      arr[1]="B";
      arr[2]="B";
}
  else if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="B"){
      arr[0]="G";
      arr[1]="G";
      arr[2]="G";
}
  else if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="G"){
      arr[0]="G";
      arr[1]="G";
      arr[2]="B";
}
    document.getElementById("demo").innerHTML = arr.toString();

        if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="B"&&arr[3]=="B"&&arr[4]=="B"){
     document.getElementById("win").innerHTML ="You won";
    }
    else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="G"&&arr[3]=="G"&&arr[4]=="G"){
    document.getElementById("lost").innerHTML ="You lost";
    }
}
function myFun3() {
     if(arr[1]=="G"&&arr[2]=="B"&&arr[3]=="G"){
      arr[1]="B";
      arr[2]="G";
      arr[3]="B";
  }
  else if(arr[1]=="B"&&arr[2]=="G"&&arr[3]=="B"){
      arr[1]="G";
      arr[2]="B";
      arr[3]="G";
}
  else if(arr[1]=="G"&&arr[2]=="B"&&arr[3]=="B"){
      arr[1]="B";
      arr[2]="G";
      arr[3]="G";
}
  else if(arr[1]=="G"&&arr[2]=="G"&&arr[3]=="G"){
      arr[1]="B";
      arr[2]="B";
      arr[3]="B";
}
  else if(arr[1]=="G"&&arr[2]=="G"&&arr[3]=="B"){
      arr[1]="B";
      arr[2]="B";
      arr[3]="G";
}
  else if(arr[1]=="B"&&arr[2]=="G"&&arr[3]=="G"){
      arr[1]="G";
      arr[2]="B";
      arr[3]="B";
}
  else if(arr[1]=="B"&&arr[2]=="B"&&arr[3]=="B"){
      arr[1]="G";
      arr[2]="G";
      arr[3]="G";
}
  else if(arr[1]=="B"&&arr[2]=="B"&&arr[3]=="G"){
      arr[1]="G";
      arr[2]="G";
      arr[3]="B";
}
    document.getElementById("demo").innerHTML = arr.toString();

        if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="B"&&arr[3]=="B"&&arr[4]=="B"){
     document.getElementById("win").innerHTML ="You won";
    }
    else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="G"&&arr[3]=="G"&&arr[4]=="G"){
    document.getElementById("lost").innerHTML ="You lost";
    }
}
function myFun4() {
     if(arr[2]=="G"&&arr[3]=="B"&&arr[4]=="G"){
      arr[2]="B";
      arr[3]="G";
      arr[4]="B";
  }
  else if(arr[2]=="B"&&arr[3]=="G"&&arr[4]=="B"){
      arr[2]="G";
      arr[3]="B";
      arr[4]="G";
}
  else if(arr[2]=="G"&&arr[3]=="B"&&arr[4]=="B"){
      arr[2]="B";
      arr[3]="G";
      arr[4]="G";
}
  else if(arr[2]=="G"&&arr[3]=="G"&&arr[4]=="G"){
      arr[2]="B";
      arr[3]="B";
      arr[4]="B";
}
  else if(arr[2]=="G"&&arr[3]=="G"&&arr[4]=="B"){
      arr[2]="B";
      arr[3]="B";
      arr[4]="G";
}
  else if(arr[2]=="B"&&arr[3]=="G"&&arr[4]=="G"){
      arr[2]="G";
      arr[3]="B";
      arr[4]="B";
}
  else if(arr[2]=="B"&&arr[3]=="B"&&arr[4]=="B"){
      arr[2]="G";
      arr[3]="G";
      arr[4]="G";
}
  else if(arr[2]=="B"&&arr[3]=="B"&&arr[4]=="G"){
      arr[2]="G";
      arr[3]="G";
      arr[4]="B";
}
    document.getElementById("demo").innerHTML = arr.toString();

        if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="B"&&arr[3]=="B"&&arr[4]=="B"){
     document.getElementById("win").innerHTML ="You won";
    }
    else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="G"&&arr[3]=="G"&&arr[4]=="G"){
    document.getElementById("lost").innerHTML ="You lost";
    }
}
function myFun5() {
  if(arr[3]=="G"&&arr[4]=="B"){
   arr[3]="B";
   arr[4]="G";
  }
  else if(arr[3]=="B"&&arr[4]=="G"){
   arr[3]="G";
   arr[4]="B";
  }
  else if(arr[3]=="G"&&arr[4]=="G"){
   arr[3]="B";
   arr[4]="B";
  }
  else if(arr[3]=="B"&&arr[4]=="B"){
   arr[3]="G";
   arr[4]="G";
  }
    document.getElementById("demo").innerHTML = arr.toString();

        if(arr[0]=="B"&&arr[1]=="B"&&arr[2]=="B"&&arr[3]=="B"&&arr[4]=="B"){
     document.getElementById("win").innerHTML ="You won";
    }
    else if(arr[0]=="G"&&arr[1]=="G"&&arr[2]=="G"&&arr[3]=="G"&&arr[4]=="G"){
    document.getElementById("lost").innerHTML ="You lost";
    }
}

</script>
<p id="win"></p>
<p id="lost"></p>